.section {

	button {
		font-family: inherit; /* For all browsers */
		font-size: 100%; /* For all browsers */
		line-height: 1.15; /* For all browsers */
		margin: 0; /* Firefox and Safari have margin */
		overflow: visible; /* Edge hides overflow */
		text-transform: none; /* Firefox inherits text-transform */
		-webkit-appearance: button; /* Safari otherwise prevents some styles */
	}
		
		button::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
		
		button:-moz-focusring {
		outline: 1px dotted ButtonText;
	}

	.margin-top {
		padding-top: 30px;
	}

	.button {
		background: $color-3;
		border: 0;
		//border-radius: 5px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: Whitney A,Whitney B, Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		line-height: 14px;
		margin-bottom:60px;
		padding: 10px 40px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.5s;
		white-space: nowrap;

		&:hover, &:focus, &active{
			background-color: $color-3-darker;
			text-decoration: none;
		}

		&:visited {
			background-color: $color-3;
			text-decoration: none;
		}

	}
}