.header {
	overflow: auto;

	h1 {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 10px;

		@media (min-width: $xs) {
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 15px;
		}		
	}

	
		
		p {
			color: $color-2;
			font-size: 17px;
			line-height: 21px;
			margin-bottom: 10px;
	
			@media (min-width: $xs) {
				font-size: 16px;
				line-height: 18px;
				margin-top:8px;
				margin-bottom: 15px;
			}
		}	
	
}