{{#> layouts/_Layout mlr="076-6051-PM 01/21"}}
{{#*inline "header-block"}}
	<title>Confirmation</title>
	<meta name="description" content="" />
	<link rel="canonical" href="" />
{{/inline}}

{{#*inline "body-block"}}

<div class="main-content">
<div class="container section">
	<div class="row">
	<div class="col-sm-12">
		<h1 class="color-3">Thank you!</h1>
			<p>We’re processing your request for <em><strong>The American Cancer Society New Healthy Eating Cookbook.</strong></em></p>
			<p>It is important that you have as much guidance and support on your treatment journey as possible. To learn more about a treatment option, click below:</p>
		<div class="margin-top">
			<a href="https://www.knowyourprostateplan.com/" target="_self" class="button" >Continue to Site</a>
		</div>
	</div>
	</div>
</div>
</div>

{{/inline}}
{{/layouts/_Layout}}