{{#> layouts/_Layout mlr="076-6173-PM 12/20"}}
{{#*inline "header-block"}}
	<title>Receive your copy</title>
	<meta name="description" content="" />
	<link rel="canonical" href="" />
{{/inline}}

{{#*inline "body-block"}}

<div class="main-content">
<div class="container section">
	<div class="row">
	<div class="col-sm-12">
		<div class="header">
			<h1 class="short-bottom-margin color-3">Receive your copy of <span class="color-1"><em>The American Cancer Society New Healthy Eating Cookbook</em></span>.</h1>
			<div>
				<p>We’re glad we can help continue to support you on your journey to making healthier choices and better eating habits. Before we can send you a copy of <em>The American Cancer Society New Healthy Eating Cookbook</em> by bestselling author Jeanne Besser, we need a few details.</p>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="container section large-width">
	<div class="row">
		<div class=".col-xs-12 col-sm-7">
		
			<div class="form-wrapper">
				<form method="post" name="book-signup-form">
					<span class="instruction">*Required</span>
					
					<div class="book-fieldset paddingBottom-0">
						
						<label class="input-wrapper" for="first-name">First Name*
							<input class="book-input" type="text" id="first-name" name="first-name" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="first-name-error">
								This field is required.
							</div> --}}
						</label>
						<label class="input-wrapper" for="last-name">Last Name*
							<input class="book-input" type="text" id="last-name" name="last-name" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="last-name-error">
								This field is required.
							</div> --}}
						</label>
						<label class="input-wrapper" for="email-address">Email Address*
							<input class="book-input" type="email" id="email-address" name="email-address" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="email-address-error">
								Please enter a valid email, e.g. example@domain.com
							</div> --}}
						</label>
						<label class="input-wrapper" for="street-address">Street Address*
							<input class="book-input" type="text" id="street-address" name="street-address" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="street-address-error">
								This field is required.
							</div> --}}
						</label>
						<label class="input-wrapper" for="apt-suite">Apartment/Building/Suite
							<input class="book-input" type="text" id="apt-suite" name="apt-suite">
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="apt-suite-error">
								
							</div> --}}
						</label>
						<label class="input-wrapper" for="city">City*
							<input class="book-input" type="text" id="city" name="city" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="city-error">
								This field is required.
							</div> --}}
						</label>
						<label class="input-wrapper input-wrapper-col-1" for="state">State*
							<select class="book-input small-input" id="state" name="state" required>
								<option disabled selected value> </option>
								<option value="Alabama">Alabama</option>
								<option value="Alaska">Alaska</option>
								<option value="Arizona">Arizona</option>
							</select>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="state-error">
								Please select your state.
							</div> --}}
						</label>
						<label class="input-wrapper input-wrapper-col-2" for="pcode">ZIP Code*
							<input class="book-input small-input" type="text" id="pcode" name="pcode" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="pcode-error">
								This field is required.
							</div> --}}
						</label>
						<label class="input-wrapper" for="phone">Phone Number*
							<input class="book-input small-input" type="tel" id="phone" name="phone" required>
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="phone-error">
								Please enter a valid phone number, e.g., 123-456-7890.
							</div> --}}
						</label>
						
						<label class="input-wrapper checkbox-18-over" for="18-older">
							<span class="label-text">I am 18 years of age<span class="color-3">*</span></span>
							<input class="book-input-checkbox" type="checkbox" name="18-older" id="18-older" required>
							<span class="checkmark"></span>
							
							{{!-- Add/remove 'error' class to 'required-email' id --}}
							{{!-- <div class="message" id="18-older-error">
								Please check this box to continue.
							</div> --}}
							
							<div class="tooltip"><img src="../img/icon-info.svg" width="22">
								<span class="tooltiptext">We need you to acknowledge<br> that you are 18 years or older.</span>
							</div>
							<span class="error-placer"></span>
						</label>
					</div>					

					<div class=""><button class="button">Submit</button></div>

				</form>
			</div>	
		</div>
		
		<div class="col-xs-12 col-sm-5">
			<div class="aside-wrapper">
				<img class="content-img" src="../img/img-cookbook.jpg" alt="Healthy Eating Cookbook" width="212">
				<div class="content-text">
					<h2 class="large-bottom-margin color-4">What’s in the book?</h2>
					<p class="small">In this cookbook, you’ll find nutritional basics that help take the guesswork out of making healthier choices. It willhelp you:</p>
					<ul>
						<li>Create – and know the parts of – a healthy diet</li>
						<li>Use portion control to help maintain an appropriate weight</li>
						<li>Find tips to make cooking at home easier and more manageable</li>
						<li>Introduce delicious new dishes into your daily menu</li>
						<li>Read food labels and interpret claims about the benefits of "healthy foods"</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}
	<script type="text/javascript" src="../js/cookbook.js"></script>
{{/inline}}
{{/layouts/_Layout}}