<footer>
  
  <div class="footer-links">
    <ul class="list-inline">
      <li><a href="https://xtandi.com/legal-notice" >Legal Notice</a></li>
      <li><a href="https://xtandi.com/privacy-statement" >Privacy Statement</a></li>
      <li><a href="https://www.astellas.com/us/privacy-policy" target="_blank" >Privacy Policy</a></li>
      <li><a href="https://www.xtandi.com/contact-us" >Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-logo">
    <ul class="list-inline">
      <li><a href="https://www.astellas.us/" target="_blank" ><img class="logo-astellas" src="../img/logo-astellas.svg" alt="Astellas Logo" title="Astellas"></a></li>
      <li><a href="https://www.pfizer.com/" target="_blank" ><img class="logo-pfizer" src="../img/logo-pfizer-oncology.svg" alt="Pfizer Oncology Logo" title="Pfizer Oncology"></a></li>
    </ul>
  </div>
  <div class="footer-cont">
    <div class="footer-cont-text">
      <p>Astellas and the flying star logo are registered trademarks of Astellas&nbsp;Pharma&nbsp;Inc.</p>
      <p>&copy; 2021 Astellas Pharma US, Inc. and Pfizer&nbsp;Inc. All&nbsp;Rights&nbsp;Reserved. <nobr>{{mlr}}</nobr></p>
    </div>
  </div>
</footer> 