<header>
<nav class="navbar navbar-default ">
	<div class="navbar-header">
		<ul class="list-inline">
			<li><a href="https://www.astellas.us/" target="_blank" ><img class="logo-astellas" src="../img/logo-astellas.svg" alt="Astellas Logo" title="Astellas"></a></li>
			<li><a href="https://www.pfizer.com/" target="_blank" ><img class="logo-pfizer" src="../img/logo-pfizer-oncology.svg" alt="Pfizer Oncology Logo" title="Pfizer Oncology"></a></li>
		</ul>
	</div>
</nav>
</header>